<template>
    <div class="col-sm-8">
        <router-link class="btn btn-success mb-2" to="/addCard">Добавить карточку</router-link>
        <ul class="list-group">
            <li class="list-group-item" v-for="(card, index) in cards" :key="index">
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            {{card.name}}
                            <!--globalVariables подключается в main.js-->
                            <a :href="this.globalVariables.serverUrl + card.link" download>
                              (архив)
                            </a>
                        </div>
                        <div class="col-auto">
                          <a href="#" @click.prevent="deleteCard(card.id)" class="btn btn-outline-danger btn-sm">Удалить</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    import http from "../../http-common";
    export default {
        name: "ListCards",
        data() {
            return {
                cards: []
            };
        },
        methods: {
            getCards() {
                http
                    .get("/cards")
                    .then(response => {
                        this.cards = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            deleteCard(card_id) {
                http
                    .post("/deleteCard/" + card_id)
                    .then(() => {
                        this.getCards();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        },
        mounted() {
            this.getCards();
        }
    }
</script>